body{
  font-family: Arial;
  background-color: #ffe5ec;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}